/* Mines margin and padding on all page */

* {
   margin: 0;
   padding: 0;
}

/* Basic color */

:root {
   --basic-red: #EE3643;
   --basic-green: #63A63E;
   --basic-grey: #3D546F;
   --basic-grey-light: #C5C5C5;
   --basic-background: #F1F5F7;
   --basic-white: #F1F5F7;
   --special-yellow: #FFBF47;
   --special-blue: #3BBCE3;
   --special-lilac: #DC91D8;
   --special-greenlight: #8ED78F;
   --special-yellowlight: #FFD180;
   --special-greylight: #EAEAEA;
   --success: #5FBB2D;
   --warning: #FFBF47;
   --error: #BA2732;
}

/* Fonts */

/* cuprum-regular - latin_cyrillic */

@font-face {
   font-family: 'Cuprum';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/cuprum-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/cuprum-v13-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 /* cuprum-700 - latin_cyrillic */

 @font-face {
   font-family: 'Cuprum';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/cuprum-v13-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/cuprum-v13-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 /* cuprum-italic - latin_cyrillic */
 @font-face {
   font-family: 'Cuprum';
   font-style: italic;
   font-weight: 400;
   src: local(''),
        url('../fonts/cuprum-v13-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/cuprum-v13-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 /* pt-sans-regular - latin_cyrillic */

@font-face {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 /* pt-sans-700 - latin_cyrillic */

 @font-face {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

/* Visually hidden */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 /* Main-body */

 .main-body {
    min-width: 960px;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    font-weight: 400; 
    line-height: 24px;
    font-style: normal;
 }

 /* Header */

 .main-header {
    background-color: #F3F7F9;
 }

 .first-header {
    background-color: #293449;
 }

 .first-wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 41px;
 }

 .first-wrapper a {
   text-decoration: none;
   color: var(--basic-white);
}

.header-logo {
   background-color: var(--basic-red);
   width: 220px;
   height: 42px;
   background-image: url(/image/Png/logo-technomart.png);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   margin-right: 17px;
}

.header-logo:hover {
   background-color: #CA2C37;
}

.header-logo:active {
   background-color: #BA2732;
}

.header-search {
}

.icon-search {
   background-image: url(/image/Svg/icon-search-grey.svg);
   background-repeat: no-repeat;
   background-position: 0 30%;
   padding-left: 25px;
   position: relative;
   top: 9px;
}

.icon-search:hover {
   background-image: url(/image/Svg/icon-search-white.svg);
}

.icon-search:active {
   background-image: url(/image/Svg/icon-search-grey.svg);
}

.text-search {
   color: var(--basic-white);
}
.label-search {
}
.input-search {
   position: relative;
   top: 9px;
   margin-left: 10px;
   margin-right: 21px;
}
.bookmarks {
   background-image: url(/image/Svg/icon-bookmark-grey.svg);
   background-repeat: no-repeat;
   background-position: 14% 47%;
   padding-left: 43px;
   padding-right: 24px;
   padding-top: 9px;
   padding-bottom: 9px;
   display: inline-block;
}

.bookmarks:hover {
   background-image: url(/image/Svg/icon-bookmark-white.svg);
}

.bookmarks:active {
   background-image: url(/image/Svg/icon-bookmark-grey.svg);
   background-color: #161D29;
}

.basket {
   background-image: url(/image/Svg/icon-cart-grey.svg);
   background-repeat: no-repeat;
   background-position: 15% 48%;
   padding-left: 43px;
   padding-right: 24px;
   padding-top: 9px;
   padding-bottom: 9px;
   display: inline-block;
}

.basket:hover {
   background-image: url(/image/Svg/icon-cart-white.svg);
}

.basket:active {
   background-image: url(/image/Svg/icon-cart-grey.svg);
   background-color: #161D29;
}

.basket-red {
   background-color: var(--basic-red);
}

.orders {
   background-color: var(--basic-green);
   padding-left: 19px;
   padding-right: 16px;
   padding-top: 9px;
   padding-bottom: 9px;
   display: inline-block;
   opacity: 1;
}

.orders:hover {
   background-color: #5FBB2D;
}

.orders:active {
   background-color: #63A63E;
   opacity: 0.7;
}

.second-header {
   width: 940px;
   margin: 0 auto;
   display: flex;
   margin-bottom: 40px;
}

.about-shop {
   color: var(--basic-red);
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: italic;
   font-weight: 400;
   line-height: 23px;
   margin-left: 30px;
   margin-right: 93px;
}

.tel-address {
  text-align: center;
  margin-right: 69px;
  margin-top: 3px;
}

.tel {
   font-family: "Cuprum", sans-serif;
   font-size: 21px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   text-decoration: none;
   color: var(--basic-red);
   padding-top: 4px;
   padding-bottom: 5px;
   padding-right: 45px;
   padding-left: 74px;
   outline: 2px solid #fff;
   display: inline-block;
   background-image: url(/image/Svg/icon-phone.svg);
   background-repeat: no-repeat;
   background-position: 15% 45%;
}

.address {
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   color: var(--basic-grey);
   margin-top: 3px;
}

.enter-profile {
   margin-top: 14px;
}

.enter-profile a{
   text-decoration: none;
   color: black;
   font-family: "Cuprum", sans-serif;
   font-size: 21px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   text-align: center;
}

.enter {
   background-color: #fff;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-right: 27px;
   padding-left: 45px;
   background-image: url(/image/Svg/icon-login-grey.svg);
   background-repeat: no-repeat;
   background-position: 18% 50%;
}

.enter:hover {
   background-image: url(/image/Svg/icon-login-blue.svg);
   color: var(--basic-red);
   background-repeat: no-repeat;
   background-position: 18% 50%;
}

.enter:active {
   background-image: url(/image/Svg/icon-login-grey.svg);
   color: #C5C5C5;
   background-repeat: no-repeat;
   background-position: 18% 50%;
}

.profile {
   background-color: #fff;
   padding: 12px 24px;
   margin-left: 8px;
}

.profile:hover {
   color: var(--basic-red);
}

.profile:active {
   color: #C5C5C5;
}

.profile__wrapper {
}
.profile__name {
   font-family: "Cuprum", sans-serif;
   font-size: 21px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   text-align: center;
   text-decoration: none;
   color: black;
}
.link-enter {
}
.profile__orders {
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-decoration: none;
   color: var(--basic-grey);
}
.profile__cabinet {
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-decoration: none;
   color: var(--basic-grey);
}

.main-navigation {
   width: 940px;
   margin: 0 auto;
   display: flex;
   background-color: var(--basic-grey);
}

.navig-wrapper {
   padding-bottom: 60px;
}

.link-navigation {
   text-decoration: none;
   color: #fff;
   background-color: var(--basic-grey);
   padding-top: 16px;
   padding-bottom: 20px;
   padding-right: 24px;
   padding-left: 27px;
}

.link-navigation:hover {
   background-color: #293449;
}

.link-navigation:active {
   background-color: #1D2739;
}

.link-navigation:first-child {
   margin-left: 43px;
}

/* Section-offers */

.section-offers {
   width: 940px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 20px;
}

.offers {
   background-color: var(--special-yellow);
}
.offers__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   color: #fff;
}

.offers__bigheading {
   font-family: "Cuprum", sans-serif;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 36px;
   color: var(--basic-white);
}

.offers__link {
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}

.offers__cataloglink {
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   color: var(--basic-white);
   text-decoration: none;
   text-transform: uppercase;
}

.offers__img {
   
}

.offers__subtitle {
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   color: var(--basic-white);
}
.offers__pointer {
}

/* Section-products */

.popular-products {
   width: 940px;
   margin: 0 auto;
}

.popular-products__wrapper {
   text-transform: uppercase;
   background-color: #F9F5F0;
}
.popular-products__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}

.popular-products__link {
   text-align: center;
   background-color: var(--basic-red);
   color: #fff;
   text-decoration: none;
}

.popular-products__cards {
   
}
.cards-list {
   list-style: none;
   display: flex;
   flex-wrap: nowrap;
}

.cards-list__item {
   width: 220px;
   margin: 0 auto;
}
.item-img {

}

.item-heading {
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 20px;
   text-align: center;
}

.item-oldprice {
   font-family: "PT Sans", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
   color: #A9A9A9;
   text-decoration: line-through;
}

.item-newprice {
   font-family: "PT Sans", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
}

/* Section-brands */

.popular-brands {
   width: 940px;
   margin: 0 auto;
}

.popular-brands__wrapper {
   background-color: #F9F5F0;
}

.popular-brands__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
}

.popular-brands__link {
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   background-color: var(--basic-red);
}

.popular-brands__list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.item-brands {
   width: 220px;
}

.img-brands {
}

/* Section-company */

.advantage-company {
   background-color: var(--basic-background);
}

.company-wrapper {
   width: 940px;
   margin: 0 auto;
}

.text-advantage {
}

.text-advantage__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}

.text-advantage__copyright {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.advantage-company-wrapper {
   display: flex;
}

.advantage-list {
   list-style: none;
}

.advantage-list__item {
   background-color: var(--basic-grey);
   width: 240px;
}

.item-link {
   font-family: "Cuprum", sans-serif;
   font-size: 21px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   color: #fff;
   text-decoration: none;
}

.about-advantage {
}

.about-advantage__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   color: var(--basic-grey);
   text-transform: uppercase;
   
}

.about-advantage__text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.about-advantage__link {
   text-transform: uppercase;
   color: var(--basic-white);
   background-color: var(--basic-red);
   text-decoration: none;
}

.advantage-company__img {
}
.advantage-picture {
}

/* Section-contacts */

.about-contacts {
   width: 940px;
   margin: 0 auto;
}

.about-contacts__about {
}

.about-heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}

.about-subtitle {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.about-text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.about-list {
   list-style: none;
}
.about-list__item {
   font-family: "Cuprum", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.about-link {
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-align: center;
   color: #fff;
   background-color: var(--basic-red);
   text-decoration: none;
}

.about-contacts__contacts {
}
.contacts-heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}

.contact-text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.contacts-map {
}
.contacts-link {
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-align: center;
   text-decoration: none;
   color: #fff;
   background-color: var(--basic-red);
}

/* Catalog nav */

.nav-list {
   display: flex;
   width: 940px;
   margin: 0 auto;
   list-style: none;
}
.nav-list__item {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-transform: uppercase;
}
.home-icon {
}
.heading-perforator-wrapper {
   background-color: #F2F6F8;
   width: 940px;
   margin: 0 auto;
}
.heading-perforator {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--basic-grey);
}

/* Section filter-cards */

.filter-cards {
   display: flex;
   width: 940px;
   margin: 0 auto;
}
.filter-wrapper {
   width: 220px;
}
.filter-wrapper__text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}

.filter-wrapper__heading {
   font-family: "PT Sans", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
}

.price-indicator {
}

.indicator-wrapper {
   background-color: #F7F3EC;
   width: 220px;
}
.indicator-line {
}
.indicator-greenline {
}
.indicator-circle {
}
.form-prices {
}
.form-prices__list {
   list-style: none;
   display: flex;
}
.prices-item {
}
.prices-item__label {
}
.prices-item__input {
   background-color: #F7F3EC;
   border: none;
   text-align: center;
}
.form-producer-power {
}

.fieldset-one {
   border: 0;
}

.fieldset-two {
   border: 0;
}

.legend-producer {
   font-family: "PT Sans", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
}
.form-producer__list {
   list-style: none;
}
.item-producer {
}
.item-producer__input {
}
.item-producer__label {
   font-family: "PT Sans", sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   text-transform: uppercase;
}
.legend-power {
   font-family: "PT Sans", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
}
.form-power__list {
   list-style: none;
}
.item-power {
}
.item-power__input {
}
.item-power__label {
   font-family: "PT Sans", sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   text-transform: uppercase;
}

.button-submit {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   text-align: center;
   border: 1px solid #EEEEEE;
   border-radius: 2px;
   color: black;
   background-color: #fff;
}

.sorting-wrapper {
   display: flex;
   background-color: #F7F3EC;
   width: 700px;
}

.sorting-text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}
.difenition {
   display: flex;
   list-style: none;
}
.difenition-item {
}
.difenition-item__link {
   text-decoration: none;
   color: var(--basic-red);
}
.arrow {
   display: flex;
   list-style: none;
}
.arrow-first {
}
.arrow-first__link {
}
.arrow-second {
}
.arrow-second__link {
}

/* Section cards */

.section-cards {
}
.cards-list-two {
   display: flex;
   flex-wrap: wrap;
   width: 700px;
   list-style: none;
}
.cards-list__item {
}
.item-img {
}
.item-heading {
}
.item-oldprice {
}
.item-newprice {
}
.link-list {
   list-style: none;
   display: flex;
}
.link-list__item {
}
.first-page {
   text-decoration: none;
   color: black;
   border: 1px solid #EFEFEF;
}

/* About-perforators */

.about-perforators {
   background-color: var(--basic-background);
}
.about-perforators__wrapper {
   width: 940px;
   margin: 0 auto;
}
.about-perforators__heading {
   font-family: "Cuprum", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}
.about-perforators__text {
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

/* Footer */

.main-footer {
}

.footer-background {
   background-color: var(--basic-grey);
}

.wrapper-footer {
   width: 940px;
   margin: 0 auto;
   display: flex;
}

.logo-text {
}

.footer-link {
   background-color: var(--basic-red);
}

.footer-logo {
}
.address-footer {
   color: #fff;
}
.wrapper-links-footer {
   
}
.footer-list-one {
   list-style: none;
   display: flex;
}
.item-one {
}
.item-one__link {
   text-decoration: none;
   color: #fff;
}
.footer-list-two {
   list-style: none;
   display: flex;
}
.item-two {
}
.item-two__link {
   text-decoration: none;
   color: var(--special-yellow);
}
.footer-background-two {
   background-color: #293449;
}
.wrapper-footer-two {
   display: flex;
   width: 940px;
   margin: 0 auto;
}
.copyright {
   color: #fff;
}
.social-list {
   list-style: none;
}
.social-item {
}

.social-item a{
   text-decoration: none;
}

.social-link-vk {
}
.social-link-fc {
}
.social-link-in {
}
.feedback-wrapper {
   display: flex;
}
.feedback-block {
}
.feedback-block__text {
   color: var(--basic-grey);
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}
.feedback-block__link {
   text-decoration: none;
   color: var(--special-yellow);
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}
.feedback-block-two {
}
.block-two__text {
   color: var(--basic-grey);
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}
.block-two__link {
   text-decoration: none;
   color: var(--special-yellow);
   font-family: "Cuprum", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}